<font size="+5">#07. Model Selection. Decision Tree vs Support Vector Machines vs Logistic Regression</font>

- Book + Private Lessons [Here â†—](https://sotastica.com/reservar)
- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Load the Data

> - The goal of this dataset is
> - To predict if **bank's customers** (rows) could have the approval for a credit card `target`
> - Based on their **socio-demographical characteristics** (columns)

In [2]:
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data',
                 na_values='?', header=None)

df.rename(columns={15: 'target'}, inplace=True)
df.head()

   0      1      2  3  4  5  6     7  8  9  10 11 12     13   14 target
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0      +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560      +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824      +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3      +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0      +

In [3]:
df.isna().sum()

0         12
1         12
2          0
3          6
4          6
5          9
6          9
7          0
8          0
9          0
10         0
11         0
12         0
13        13
14         0
target     0
dtype: int64

In [4]:
df = df.dropna(axis=0)

In [5]:
df.isna().sum()

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
target    0
dtype: int64

In [6]:
df = pd.get_dummies(df, drop_first=True)

In [7]:
df

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s,target_-
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,1,0,1,1,0,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,1,1,0,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,1,0,1,1,1,0,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,21.08,10.085,1.25,0,260.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
686,22.67,0.750,2.00,2,200.0,394,0,1,0,0,...,0,0,1,0,0,1,1,0,0,1
687,25.25,13.500,2.00,1,200.0,1,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
688,17.92,0.205,0.04,0,280.0,750,1,1,0,0,...,0,0,1,0,0,0,0,0,0,1
689,35.00,3.375,8.29,0,0.0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,1

In [8]:
X = df.drop(columns='target_-')

In [9]:
y = df[['target_-']]

In [10]:
X.shape

(653, 37)

In [11]:
y.shape

(653, 1)

# Build & Compare Models

In [12]:
def model_score(model):
    model.fit(X,y)
    score = model.score(X,y)
    return score

## `DecisionTreeClassifier()`

In [13]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/7VeUPuFGJHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [14]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [15]:
dt.fit(X,y)

DecisionTreeClassifier()

In [21]:
dt.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)

In [22]:
dt.score(X,y)

1.0

In [23]:
# Una vez definida la funciÃ³n:

model_score(dt)

1.0

## `RandomForestClassifier()`

In [148]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/J4Wdy0Wc_xQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [149]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [150]:
model_score(rf)

<ipython-input-138-85816122a156>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X,y)

1.0

## `KNeighborsClassifier()`

In [151]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/HVXime0nQeI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [152]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier()

In [153]:
model_score(kn)

C:\Users\Casa\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.7840735068912711

## Whic Model is the Best?

> Which model has the **highest accuracy**?

Duda resultados = 1 (??)

# `train_test_split()` & Compare Again

In [154]:
from sklearn.model_selection import train_test_split

In [155]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [161]:
def model_accuracy(model):
    model.fit(X_train, y_train)
    accuracy = model.score(X_test, y_test)
    return accuracy

## `DecisionTreeClassifier()`

In [168]:
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [169]:
dt.score(X_test, y_test)

0.7755102040816326

In [170]:
model_accuracy(dt)

0.7755102040816326

## `RandomForestClassifier()`

In [171]:
model_accuracy(rf)

<ipython-input-161-9de3938822fb>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

0.8673469387755102

## `KNeighborsClassifier()`

In [172]:
model_accuracy(kn)

C:\Users\Casa\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.6581632653061225

# Which is the Best Model with `train_test_split()`?

> Which model has the **highest accuracy**?

``
Random Forest Classifier
``

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [ ] Understand the necessity to **create functions** to avoid the repetition of the code.
- [ ] **Bootstrapping** as a way to create an artificial dataset that helps to reduce the bias.
- [ ] **Classification threshold** to predict categories out of probabilities.
- [ ] Different ways to **compare classification models**.
- [ ] Understand the importance to check how good is a model with **data not seen during training**.